body {
	background: #000000;
}

.div_black {
	font-family: GostARegular;
	font-weight: bold;
	text-align: center;
	width: 30px;
	font-size: 20pt;
	color: yellow;
	border: 0px inset #c0c2ce;
}


.div_black2 {
	font-family: GostARegular;
	font-weight: bold;
	text-align: center;
	width: 40px;
	font-size: 20pt;
	color: green;
	border: 0px inset #c0c2ce;
}

.small {
	font-family: GostARegular;
	font-weight: bold;
	text-align: center;
	padding: 0 2px;
	font-size: 15pt;
	background: yellow;
	color: black;
	border: 0px inset #c0c2ce;
}

.div_time {
	font-family: GostARegular;
	font-weight: bold;
	text-align: center;
	width: 140px;
	font-size: 12pt;
	background: #fee3c3;
	color: black;
	border: 3px inset #c0c2ce;
}
.button {
	font-family: GostARegular;
	font-weight: bold;
	text-align: center;
	width: 150px;
	font-size: 12pt;
	background: #fee3c3;
	color: black;
	border: 0px inset #c0c2ce;
}

.levelH {
	-webkit-transform: rotate(-90deg);
	/* Chrome y Safari */
	-moz-transform: rotate(-90deg);
	/* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	/* Internet Explorer */
	-o-transform: rotate(-90deg);
	/* Opera */
}
