body {
	background: #2a292f;
}

img {
	position: absolute;
	top: 0;
}

[scheme] div {
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	color: #5af542;
	cursor: default;
}