.ALARM_DIV_HH {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#800000}
.ALARM_DIV_H {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#FFFF00;color:#000000}
.ALARM_DIV_N {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#004000}
.ALARM_DIV_L {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#FFFF00;color:#000000}
.ALARM_DIV_LL {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#800000}
.Blink_DIV_r {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#FF0000}
.Blink_DIV_g {font-family: GostARegular; font-size: 100%;text-align: Center; background-color:#FFFF00}
